

*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
}

:root{
    --navy:#0B1D51;
    --lt-navy:#0c287a;
    --purple:#725CAD;
    --blue:#8CCDEB;
    --beige:#FFE3A9;
    --white:hsl(0, 0%, 100%);
    --dk-text: hsl(198, 20%, 13%);


}


#wrapper{
    position: relative;
    z-index: 100;
    height: 100vh;
    width: 100vW;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(200deg, rgba(114, 92, 173, 1) 0%, rgba(11, 29, 81, 1) 100%);
}

.main{
    position: relative;
    z-index: 100;
    width: 90%;
    max-width: 450px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    color: var(--white);
    opacity: 0.80;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
    line-height: 1.2;
    font-size: 2.2rem;
    font-weight:bolder;
}

.passwordBox{
    position: relative;
    background-color: var(--navy);
    border-radius: 1rem;
    border-bottom: 0.35rem solid var(--purple);
    margin: 1rem 0;
    padding-top: 0.35rem;
    width: 100%;
}

.display{
    width:100% ;
    background-color: transparent;
    padding: 1.15rem 1rem;
    border: 1rem;
    border: none;
    position: relative;
    outline: none;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 30px;
    letter-spacing: 1px;
    color: var(--beige);


}



.display::placeholder{
    color: var(--beige);
    position:absolute;
    top: 50%;
    left: 1.5rem;
    font-size: 1.5rem;
    line-height:30px;
    opacity: 0.65;
    text-transform: uppercase;
    transform: translateY(-50%);
}

.copyBtn {
    position:absolute;
    top:50%;
    right:1.5rem;
    transform: translateY(-50%);
    object-fit: contain;
    background: none;
    border: none;
    cursor: pointer;
    

}


.settingsBox{
    width: 100%;
    position: relative;
    background-color: var(--navy);
    border-radius: 1rem;
    margin: 1rem 0;
    padding-top: 0.35rem;
    border-bottom: 0.35rem solid var(--purple);
    display: flex;
    flex-direction: column;
    padding: 2rem;
    z-index: 100;


}


.passLen {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.passLen p {
    color: var(--white);
    font-size: 1.5rem;
    /* background: #000; */
}

.passLen div{
    color: var(--beige);
    font-size: 1.5rem;
    
}

.strength{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.75rem;
    margin-bottom: 2rem;
}

.indicator{
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 50%;
    
}

.strength p{
    color: var(--white);
    font-size: 1.5rem;
}

.generateBtn{
    width: 100%;
    padding: 1rem 0;
    background-color: var(--purple);
    text-align: center;
    border-radius: 0.75rem;
    border-bottom: 0.35rem solid var(--beige);
    text-transform: uppercase;
    letter-spacing: 1px;
    color: var(--beige);
    font-weight: 600;
    font-size: 1.25rem;
    outline: none;
    border: none;
    border-bottom: 0.35rem solid var(--beige);
}

.check{
    display: flex;
    flex-direction: column;
    margin: 1rem 0;
    gap: 1rem 1rem;
    position: relative;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid var(--beige);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
    
}

.check input:checked{
    background-color: var(--blue);
}

.check input:checked::before {
    content: '✔';
    position: absolute;
    color: var(--dk-text);
    font-size:1.05rem;
    font-weight: 600;
    left:50%;
    top:-11px;
    transform: translateX(-50%)  translateY(40%);
}

.check label {
    color: var(--white);
    font-size: 1.25rem;
    letter-spacing: 0.75px;
}


.msgcopy{
    position: absolute;
    background-color: var(--purple);
    /* border: 0.5px solid var(--blue); */
    color: var(--beige);
    font-size: 1.25rem;
    top: -35px;
    left: -25px;
    padding: 5px 9px;
    border-radius: 10rem;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    transition: all 250ms ease-in-out;
}

.active{
    opacity: 1;
    transform: scale(1);
}


.slider{
    position: relative;
    appearance: none;
    width: 100%;
    height: 0.75rem;
    cursor: pointer;
    background-color: var(--lt-navy);
    border-radius: 1rem;
    margin-top: 2rem;
    margin-bottom: 1.5rem;
    background-image: linear-gradient(var(--purple), var(--purple));
    background-repeat: no-repeat;
    border:none;
    outline:none;
    position: relative;
    z-index: 100;
    
}

.slider::-webkit-slider-thumb {
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--beige);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px var(--beige);
    transition: all 100ms ease-in;
    z-index: 5;
}

/* .slider:focus{
    outline: 3px solid var(--blue);
} */




/* firefox */


.slider::-moz-range-thumb {
   
    position:relative;
    z-index:1;
    appearance: none;
    height:2rem;
    width:2rem;
    border-radius: 50%;
    background-color: var(--beige);
    cursor:pointer;
    margin-top: -3px;
    box-shadow: 0px 0px 20px 0px var(--beige);
    transition: all 100ms ease-in;
    z-index: 5;
  }



  .disable{
    position: absolute;
    z-index: 0;
    opacity: 0.6;
  }



  .noCheck-container{
    
    position: relative;
    z-index: 100;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    height: 20%;
    width: 18%;
    background-color: var(--purple);
    border-radius: 2rem;
    padding: 1rem;
    font-size: 0.9rem;
    text-align: center;
  }

  .noCheck-container button{
    position: relative;
    height: 2rem;
    width: 3rem;
    font-size: 1rem;
    font-weight: bold;
  }

 .disable-popup{
    position: absolute;
    z-index: 0;
    opacity: 0;
  }
  